##  STATISTICS 1

### 1. You survey households in your area to find the average rent they are paying. Find the standard deviation from the following data: 
$1550, $1700, $900, $850, $1000, $950.

In [4]:
import numpy as np

x=list([1550,1700,900,850,1000,950])
print(x)

mean=np.mean(x)
print("The average rent is {:.2f}".format(mean))
variance=np.var(x)
std=np.std(x)
print("The standard deviation is {:.2f}".format(std))

[1550, 1700, 900, 850, 1000, 950]
The average rent is 1158.33
The standard deviation is 335.93

### 2. Find the variance for the following set of data representing trees in California (heights in feet):
3, 21, 98, 203, 17, 9

In [7]:
x=list([3, 21, 98, 203, 17, 9])
print(x)
variance=np.var(x)
print("the variance is {:.2f}".format(variance))

[3, 21, 98, 203, 17, 9]
the variance is 5183.25

### 3. In a class on 100 students, 80 students passed in all subjects, 10 failed in one subject, 7 failed in two subjects and 3 failed in three subjects. Find the probability distribution of the variable for number of subjects a student from the given class has failed in.

In [1]:
print("Total number of students in the class : 100")
print("Probability of falling in {} subjects : {}".format(0, 80/100))
print("Probability of falling in {} subjects : {}".format(1, 10/100))
print("Probability of falling in {} subjects : {}".format(2, 7/100))
print("Probability of falling in {} subjects : {}".format(3, 3/100))

Total number of students in the class : 100
Probability of falling in 0 subjects : 0.8
Probability of falling in 1 subjects : 0.1
Probability of falling in 2 subjects : 0.07
Probability of falling in 3 subjects : 0.03

## STATISTICS 2

### 1. A test is conducted which is consisting of 20 MCQs (multiple choices questions) with every MCQ having its four options out of which only one is correct. Determine the probability that a person undertaking that test has answered exactly 5 questions wrong.

In [4]:
from functools import reduce
n=20
s=5
k=15

p=1/4
q=1-p

array=[i for i in range(1,21)]
n_fact=reduce(lambda x,y : x*y,array)
print("n_fact",n_fact)

pass_fact=reduce(lambda x,y:x*y,array[0:15])
print("n_fact",n_fact)

fail_fact=reduce(lambda x,y :x*y, array[0:5])
print("fail_fact",fail_fact)

prob=(n_fact/(pass_fact*fail_fact))*(p**k)*(q**s)
print("probability to get 5 wrong is :",prob)

n_fact 2432902008176640000
n_fact 2432902008176640000
fail_fact 120
probability to get 5 wrong is : 3.4264958230778575e-06

In [5]:
scipy.stats.binom.pmf(s,n,q)

3.4264958230778435e-06

### 2. A die marked A to E is rolled 50 times. Find the probability of getting a “D” exactly 5 times.

In [2]:
from scipy import stats
import scipy
n=50
p=1/5
print("Probability of coming D ",p)

prob=stats.binom.pmf(5,n,p)
print("Probability of getting a “D” exactly 5 times",prob)

Probability of coming D  0.2
Probability of getting a “D” exactly 5 times 0.029531204310523224

### 3. Two balls are drawn at random in succession without replacement from an urn containing 4 red balls and 6 black balls. Find the probabilities of all the possible outcomes.

In [57]:
from scipy.special import factorial 
red_ball=4
black_ball=6
total_balls= red_ball + black_ball

#probablity of picking a red ball is 4 out of 10,so the probability is 4/10
p_1_red_ball= red_ball/total_balls

p_2_black_ball= black_ball/(total_balls-1)

p_1_black_ball=black_ball/total_balls

p_2_red_ball=red_ball/(total_balls-1)

p_2_r=(factorial(red_ball)/(factorial(2) * factorial(red_ball-2)))/(factorial(total_balls)
                                                                    / factorial(2)*factorial(total_balls-2))

print("probablity of picking 1st red ball and black ball second is({:0.2f},{:0.2f})".format
     (p_1_red_ball,p_2_black_ball))
print("probality of picking of black ball first and red ball second is ({:0.2f},{:0.2f})".format
      (p_1_black_ball,p_2_red_ball))
print("probality of picking of both balls as black is ({:0.10f})".format
      (p_1_black_ball,p_2_red_ball))
print("probality of picking of black ball first and red ball second is ({:0.2f},{:0.2f})".format
      (p_1_black_ball,p_2_red_ball))

probablity of picking 1st red ball and black ball second is(0.40,0.67)
probality of picking of black ball first and red ball second is (0.60,0.44)
probality of picking of both balls as black is (0.6000000000)
probality of picking of black ball first and red ball second is (0.60,0.44)

## STATISTICS 3

### Blood glucose levels for obese patients have a mean of 100 with a standard deviation of 15. A researcher thinks that a diet high in raw cornstarch will have a positive effect on blood glucose levels. A sample of 36 patients who have tried the raw cornstarch diet have a mean glucose level of 108. Test the hypothesis that the raw cornstarch had an effect or not.

In [45]:
import math
Sample_count=36
Sample_Mean=108
Population_Mean=100
Population_sigma=15
z=(Sample_Mean-Population_Mean)/(Population_sigma/math.sqrt(Sample_count))
print('The z score is',z)
print('By looking this value up in z table, we get a value of 0.9993')
print('Which implies the probability of having value less than 108 is 99.93% and more than or equals to 108 is 0.007')
print('It is less than 0.05 so we will reject the Null hypothesis i.e. there is raw cornstarch effect')

The z score is 3.2
By looking this value up in z table, we get a value of 0.9993
Which implies the probability of having value less than 108 is 99.93% and more than or equals to 108 is 0.007
It is less than 0.05 so we will reject the Null hypothesis i.e. there is raw cornstarch effect

#### 1. In one state, 52% of the voters are Republicans, and 48% are Democrats. In a second state, 47% of the voters are Republicans, and 53% are Democrats. Suppose a simple random sample of 100 voters are surveyed from each state. What is the probability that the survey will show a greater percentage of Republican voters in the second state than in the first state?

In [46]:
N1=100
N2=100
P1=0.52
Q1=0.48
P2=0.47
Q2=0.53
mu=P1-P2
std=math.sqrt(((P1*Q1)/N1)+((P2*Q2)/N2))
print("Mu: ",mu,"Std: ",std)
x=0
Z=(x-mu)/std
print("Z_score(P_1,P_2):",Z)
print("The probability that the surbay will show a greater percentage of Republican voters in the second state than in the first state id 0.24.")

Mu:  0.050000000000000044 Std:  0.07061869440877536
Z_score(P_1,P_2): -0.7080278164104213
The probability that the surbay will show a greater percentage of Republican voters in the second state than in the first state id 0.24.

#### 2. You take the SAT and score 1100. The mean score for the SAT is 1026 and the standard deviation is 209. How well did you score on the test compared to the average test taker?

In [47]:
x=1100
mu=1026
sd=209
z=(x-mu)/sd
print("Z Score:",z)
print("The above calculatioin shows that my score is 0.35 standard deviations above the mean")

Z Score: 0.35406698564593303
The above calculatioin shows that my score is 0.35 standard deviations above the mean

##  STATISTICS 4

### 1. Is gender independent of education level? A random sample of 395 people were surveyed and each person was asked to report the highest education level they obtained. The data that resulted from the survey is summarized in the following table:
High-School Bachelor Masters Ph.D. Total<br>
Female 60 54 46 41 201<hr>
Male 40 44 53 57 194<hr>
Total 100 98 99 98 395<hr><br>
Question: Are gender and education level dependent at 5% level of
significance? In other words, given the data collected above, is there a
relationship between the gender of an individual and the level of education that they have obtained?

In [6]:
import numpy as np
import pandas as pd
import scipy.stats as stats

male=[40,44,53,57]
female=[60,54,46,41]
high_school=[60,40]
bachelors=[54,44]
masters=[46,53]
phd=[41,57]

marks=male+female
print(marks)
sex=['M','M','M','M','F','F','F','F',]
education=['high_school','bachelors','masters','phd','high_school','bachelors','masters','phd',]
df=pd.DataFrame({"Education":education,"Marks":marks,"Sex":sex})
df

[40, 44, 53, 57, 60, 54, 46, 41]

     Education  Marks Sex
0  high_school     40   M
1    bachelors     44   M
2      masters     53   M
3          phd     57   M
4  high_school     60   F
5    bachelors     54   F
6      masters     46   F
7          phd     41   F

In [10]:
cross_tab=pd.crosstab([df.Sex,df.Marks],df.Education,margins=True)
cross_tab

Education  bachelors  high_school  masters  phd  All
Sex Marks
F   41             0            0        0    1    1
    46             0            0        1    0    1
    54             1            0        0    0    1
    60             0            1        0    0    1
M   40             0            1        0    0    1
    44             1            0        0    0    1
    53             0            0        1    0    1
    57             0            0        0    1    1
All                2            2        2    2    8

In [16]:
df1=pd.crosstab(df.Sex,df.Education,df.Marks,aggfunc="sum",margins=True)
df1

Education  bachelors  high_school  masters  phd  All
Sex
F                 54           60       46   41  201
M                 44           40       53   57  194
All               98          100       99   98  395

In [17]:
df1.columns=["bachelors","high_school","masters","phd","genderwise_total"]
df1.index=["female","male","combined"]
df1

          bachelors  high_school  masters  phd  genderwise_total
female           54           60       46   41               201
male             44           40       53   57               194
combined         98          100       99   98               395

In [18]:
df2=df1.iloc[0:2,0:4]
df2

        bachelors  high_school  masters  phd
female         54           60       46   41
male           44           40       53   57

In [21]:
df3=np.outer(df1["genderwise_total"][0:2],df1.loc["combined"][0:4])/395.0
df3=pd.DataFrame(df3)
df3.columns=["Bachelors","high_school","master","phd"]
df3.index=["Female","Male"]
df3

        Bachelors  high_school     master        phd
Female  49.868354    50.886076  50.377215  49.868354
Male    48.131646    49.113924  48.622785  48.131646

In [23]:
chi_squared_stat=(((df3-df2)**2)/df3).sum().sum()
print(chi_squared_stat)

0.0

In [24]:
cvalue=stats.chi2.ppf(q=0.95,df=3)
print("critical value")
print(cvalue)

critical value
7.814727903251179

In [26]:
p_value=1-stats.chi2.cdf(x=chi_squared_stat,df=3)
print("P value")
print(p_value)

P value
1.0

In [34]:
result=stats.chi2_contingency(observed=df2)
print(result)

print('_'*100)
print('The output shows the chi-square statistic = 8,the p-value as 0.045 and the degrees of freedom as 3')
print('The critical value with 3 degree of freedom is 7.815. Since 8.006 > 7.815,therefore we reject the'
         'null hypothesis and conclude that the education level depends on gender at a 5% level of significance')

(8.006066246262538, 0.045886500891747214, 3, array([[49.86835443, 50.88607595, 50.37721519, 49.86835443],
       [48.13164557, 49.11392405, 48.62278481, 48.13164557]]))
____________________________________________________________________________________________________
The output shows the chi-square statistic = 8,the p-value as 0.045 and the degrees of freedom as 3
The critical value with 3 degree of freedom is 7.815. Since 8.006 > 7.815,therefore we reject thenull hypothesis and conclude that the education level depends on gender at a 5% level of significance

### 2. Using the following data, perform a one-way analysis of variance using α=.05.
Write up the results in APA format.<br>
[Group1: 51, 45, 33, 45, 67]<br>
[Group2: 23, 43, 23, 43, 45]<br>
[Group3: 56, 76, 74, 87, 56]

In [44]:
import scipy.stats as stats
Group1=[51,45,33,45,67]
Group2=[23,43,23,43,45]
Group3=[56,76,74,87,56]

statistic,pvalue = stats.f_oneway(Group1,Group2,Group3)
print("F Statistic value {},p-value {}".format(statistic,pvalue))
if pvalue<0.05:
    print('True')
else:
    print('False')
print('-'* 65)
print('The test result suggests the groups have different same sample means in this example,since the p-value is significant at'
         'the p-value is significant at a 99% confidence level.Here the p-value is 0.00305 which is < 0.05')

F Statistic value 9.747205503009463,p-value 0.0030597541434430556
True
-----------------------------------------------------------------
The test result suggests the groups have different same sample means in this example,since the p-value is significant atthe p-value is significant at a 99% confidence level.Here the p-value is 0.00305 which is < 0.05

### 3. Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.
For 10, 20, 30, 40, 50:

In [1]:
import numpy as np
import scipy.stats as st
a=[10,20,30,40,50]
b=[5,10,15,20,25]
print('F test result is:')
st.f_oneway(a,b)

F test result is:

F_onewayResult(statistic=3.6, pvalue=0.0943497728424377)

# OR

In [2]:
import numpy as np
import scipy.stats as st
st.f_oneway([10,20,30,40,50],[5,10,15,20,25])

F_onewayResult(statistic=3.6, pvalue=0.0943497728424377)